@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@600&display=swap');

body#a {
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: url('https://raw.githubusercontent.com/mnz63/SITE-AKITABOT/main/2.png');
}

.toogle {
    display: none;
}

.toogle + label {
    width: 32px;
    height: 20px;
    background: rgb(211, 211, 211);
    display: block;
    position: relative;
    left: 800px;
    border-radius: 20px;
    padding: 2px;
    transition: 200ms;
    cursor: pointer;
}

.toogle + label:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    display: block;
    border-radius: 50%;
    right: unset;
    left: 2px;
    top: 2px;
    transition: 200ms;
}

.toogle:checked + label {
    background: #f80c88;
}

.toogle:checked + label:before {
    content: '';
    left: calc(100% - 22px);
    box-shadow: 0 4px rgb(0 0 0 / 10%);
}

.git {
    position: relative;
    left: 830px;
    width: 25px;
    height: 25px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    
}

.git:after {
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background-color:#0CF;
    opacity:0;
    border-radius:5px;
    box-shadow:0 5px 15px 0 rgba(0,0,0,0.3);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: -1 ;
}

.git:hover {
    transform:scale(1.25,1.25);
}

.git:hover::after {
    opacity:1;
}

.add {
    
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    outline: 2px solid white;
    padding: 15px 85px;
    overflow: hidden;
    position: absolute;
    width: 170px;
    height: 40px;
    left: 1400px;
    top: 800px;

    font-family: 'Blinker';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    transition: color 1s;
}


.add:hover {
    color: #f80c88;
}

.add::before {
    content:"";
    position:absolute;
    top: 0;
    left: -50px;
    width: 0;
    height:100%;
    background-color:rgb(255, 255, 255);
    transform: skewX(35deg);
    z-index: -1 ;
    transition: width 1s;
}

.add:hover::before{
    width: 150%;
}

.comandos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px 138px;

    position: absolute;
    width: 250px;
    height: 500px;
    left: 1295px;
    top: 201px;
    font-family: 'Blinker';

    background: #ffffff;
    box-shadow: 0px 4px 4px #000000;
    border-radius: 15px;

    font-family: 'Blinker';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    text-align: center;

    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cmd {
    position: absolute;
    width: 432px;
    height: 406px;
    left: 1326px;
    top: 290px;

    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}